<!DOCTYPE html>
<html>
    <head>
        <title>Servit</title>
        <meta name='viewport' content='width=device-width' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Cantarell&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet"  href="/stylesheets/app.css">
        <link rel="stylesheet"  href="/stylesheets/blog.css">
        <link rel="stylesheet"  href="/stylesheets/accordion.min.css">
        <link rel="shortcut icon" href="/images/ico.png">
    </head>
    <body>
        
      <div class="container">
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            
             
              <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>

              <div class="mynavs">
                   <span style=" margin-top:-15px; color: #4A724E;font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
                </div>

              <div id="myNav" class="overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                      <% if(!currentUser){ %>
                        <a href="nyscnews"> NYSC News </a>
                        <a href="/campexperiences"> Camp Experiences </a>
                        <a href="/#contactus"> Flatmates/Apartments </a>
                        <a href="/register">Find your way to camp</a>
                    <% }else{ %> 
                      <p>Signed In As <%= currentUser.username %></p>
                    <a href="/jobs/new"> <i class="fa fa-pencil"></i> Submit A Listing </a>
                    <a href="/mylistings"><i class="fa fa-bookmark"></i> My Listings </a>
                    <a href="/keylinks"><i class="fa fa-key"></i> Keylinks </a>
                    <a href="/logout"><i class="fa fa-sign-out"></i> Signout </a>
                    <% } %>
                  </div>
                </div>
                  
          </div>
        </nav>

        <div class="container">
          <% if (error && error.length > 0){%>
            <div class="alert alert-danger" role="alert">
             <%= error %>
          </div>
          <%}%>

          <% if (success && success.length > 0){%>
            <div class="alert alert-success" role="alert">
               <%= success %>
            </div>
            <%}%>
        </div>
 

        
 </div>

 <div class="container">
    <p class="jobpageheading">GET A PLACEMENT AND PPA FOR JUST N1000</p>
   
  <div class="row">
      <div class="col-md-6  ">
          <% nyscnews.forEach(function(nyscnew){ %>
          <div id="forumposts" class="">
              <img class="ui centred rounded image" src="<%=nyscnew.newspicture%>" >
              <h5 class="nyscnewsindextitle"> <%=nyscnew.newstitle%> </h5>
              <h5 class="nyscnewsindexlocation"><a href="/nyscnews/"><button class="ui icon blasck button">Nysc News</button></a>  |<span class="landingbodyexcerpt"> <%= nyscnew.created.toDateString() %></span></span></h5>
              <p><a href="/nyscnews/<%=nyscnew._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>Read More</button></a></p>
            </div> 
            <% }); %> 
      </div>


      <div class="col-md-6">
    

           <div class="col-md-6 col-sm-12 landingthirdimage">
              <% nyscnews.forEach(function(nyscnew){ %>
                <div>
                    <img class="hh" height="150" width="250" src="<%=nyscnew.newspicture%>" >
                    <h5 class="nyscnewsindextitle" ><%=nyscnew.newstitle.substring(0, 28)%>... </h5>
                    <h5 class="nyscnewsindexlocation"><a href="/nyscnews/"><button class="ui icon blasck button">Nysc News</button></a> | <span class="landingbodyexcerpt"><%= nyscnew.created.toDateString() %></span></span></h5>
                    <p><a href="/nyscnews/<%=nyscnew._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>Read More</button></a></p>
                  </div> 
                  <% }); %> 
           </div>
           <div class="col-md-6 col-sm-12 landingfourthimage">
              <% campexperiences.forEach(function(campexperience){ %>
                <div>
                    <img class="hh" height="150" width="250" src="<%=campexperience.campexperiencepicture%>" >
                    <h5 class="nyscnewsindextitle"> <%=campexperience.campexperiencetitle%> </h5>
                  <h5 class="nyscnewsindexlocation"><span><a href="/campexperiences/"><button class="ui icon blasck button">Camp Stories</button></a> | <span class="landingbodyexcerpt"><%= campexperience.created.toDateString() %></span></span></h5>
                  <p><a href="/campexperience/<%=campexperience._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>Read More</button></a></p>
                  </div>
               <% }); %> 
           </div>


      </div>       

  </div>

<div class="landingthirdsegment">
  <p class="latestnews">LATEST NEWS</p>
  </div>

  <div class="row landingthirdsegment2">
      <% nyscnewsthree.forEach(function(nyscnew){ %>
        <div class="col-md-4 col-sm-12">
        <div class="">
            <img class="hh" height="250" width="350"  src="<%=nyscnew.newspicture%>" >
            <h5 class="nyscnewsindextitle" > <%=nyscnew.newstitle.substring(0, 40)%>... </h5>
            <h5 class="landingbodyexcerpt" > <%=nyscnew.newsbody.substring(0, 55)%>...</h5>
            <h5 class="nyscnewsindexlocation"><span> By <%= nyscnew.author.username %> |<span class="landingbodyexcerpt"> <%= nyscnew.created.toDateString() %></span></span></h5>
            <p><a href="/nyscnews/<%=nyscnew._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>Read More</button></a></p>
          </div>   
        </div>
          <% }); %>   
  </div>


<div class="row landingthirdsegment2">
  <% nyscnewsfour.forEach(function(nyscnew){ %>
    <div class="col-md-4 col-sm-12">
  <div id="sub">
      <div class="col-md-5">
          <img class="hh" height="70" width="130"  src="<%=nyscnew.newspicture%>">
      </div>

      <div class="col-md-6">
          <span><a class="" href="/nyscnews/<%=nyscnew._id%>"> <%=nyscnew.newstitle.substring(0, 92)%>... </a></span>
        </div>
  </div>
    </div>
   <% }); %> 

   <% nyscnewsfive.forEach(function(nyscnew){ %>
    <div class="col-md-4 col-sm-12">
  <div id="sub">
      <div class="col-md-5">
          <img class="hh" height="70" width="130"  src="<%=nyscnew.newspicture%>">
      </div>

      <div class="col-md-6">
          <span><a class="" href="/nyscnews/<%=nyscnew._id%>"> <%=nyscnew.newstitle.substring(0, 92)%>... </a></span>
        </div>
  </div>
    </div>
   <% }); %> 
  
     

  



  </div>



  <p class="jobpageheading">GET A PLACEMENT AND PPA FOR JUST N1000</p>

  <div class="landingthirdsegment">
      <p class="latestnews">CAMP EXPERIENCES</p>
      </div>
    
      <div class="row landingthirdsegment1">
          <% campexperiencesthree.forEach(function(campexperience){ %>
            <div class="col-md-4 col-sm-12">
            <div class="">
                <img class="hh" height="250" width="350" src="<%=campexperience.campexperiencepicture%>" >
                <h5 class="nyscnewsindextitle" ><%=campexperience.campexperiencetitle%> </h5>
                <h5 class="landingbodyexcerpt" > <%=campexperience.campexperiencebody.substring(0, 55)%>...</h5>
                <h5 class="nyscnewsindexlocation"><span> By  <%= campexperience.author.username %> |<span class="landingbodyexcerpt"> <%= campexperience.created.toDateString() %></span></span></h5>
                <p><a href="/campexperience/<%=campexperience._id%>"><button class="ui  labeled icon green button"><i class="right arrow icon"></i>Read More</button></a></p>
              </div> 
            </div>
            <% }); %> 
          </div>

          <div class="row ">
              <% campexperiencesfour.forEach(function(campexperience){ %>
                <div class="col-md-6 col-sm-12">
              <div id="sub">
                  <div class="col-md-4 drawone">
                      <img class="hh" height="100" width="170"  src="<%=campexperience.campexperiencepicture%>">
                  </div>
      
                  <div class="col-md-6">
                      <span class="subtitle"><%=campexperience.campexperiencetitle%><br><span class="subsubtitle"> By  <%= campexperience.author.username %> |<span class="landingbodyexcerpt"> <%= campexperience.created.toDateString() %></span> </span>
                    </div>
                    
                  </div>
               
                </div>
                <% }); %> 
          </div> 
           
          <div class="row landingthirdsegment3">
              <% campexperiencesfive.forEach(function(campexperience){ %>
                <div class="col-md-6 col-sm-12">
              <div id="sub">
                  <div class="col-md-4">
                      <img class="hh" height="100" width="170"  src="<%=campexperience.campexperiencepicture%>">
                  </div>
      
                  <div class="col-md-6">
                      <span class="subtitle"><%=campexperience.campexperiencetitle%><br><span class="subsubtitle"> By  <%= campexperience.author.username %> |<span class="landingbodyexcerpt"> <%= campexperience.created.toDateString() %></span> </span>
                    </div>
                    
                  </div>
               
                </div>
                <% }); %> 
          </div> 

      


     
</div>




 



<% include partials/footer %>