<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="ui main text  segment col-md-8 show2">  
            <p class="showpagetitle">Premium Listing: - An Opening At <%=premiumjob.company%> -</p>
                <p class="jobcompany"><i class="fa fa-university" aria-hidden="true"></i><b>Company Name:</b> <%=premiumjob.company%></p>
                <p class="joblocation"><i class="fa fa-map-marker" aria-hidden="true"></i><b>        Location:</b> <%=premiumjob.location%></p>
                <p class="jobtitle"><i class="fa fa-users" aria-hidden="true"></i><b>  Looking For:</b> <%=premiumjob.title%></p>
                <p class="getplacement">To get this placement, Send us a message on whatsapp: +2349037879130</p>
               
                <div class="item">     
                <br>
                <br>
                <hr>
               
                <div class="description">
                    <p class="jobdescription"><%=premiumjob.description%></p>
                </div>
                <br>
                
                    <a class="btn btn-warning" href="/premiumjobs/<%=premiumjob._id%>/edit">EDIT</a>
                    <form id="delete" action="/premiumjobs/<%=premiumjob._id%>?_method=DELETE" method="POST"> 
                        <button class="btn btn-danger">DELETE</button>
                    </form>
               </p>
                </div>
                <br>
                

                
        </div>
                <div class="col-md-4 ">
                     
                </div>
    </div>
</div>




<% include ../partials/footer %>